//
// sahadeva/styles/announcements.less
//

@import "announcement_summary.less";

.cmp_announcements {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    background-color: @lightgray;
    border-radius: 6px;
    padding: 1rem;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    h2 {
      font-family: "Inter", sans-serif;
      font-size: 1.25rem;
      margin: 0;
    }
    .read_more {
      font-size: 0.825rem;
      text-transform: uppercase;
    }
  }
}
