//
// sahadeva/styles/article.less
//

.article-meta {
  h1 {
    font-size: 2rem;
  }
  .meta {
    font-size: 0.825rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    .issue-meta {
    }
    .process-meta {
      display: flex;
      gap: 1rem;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
  .authors {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
    li {
      margin-bottom: 1rem;
    }
    .name {
      font-weight: 600;
    }
    .affiliation {
      font-size: 0.825rem;
    }
  }
}

.article {
  .abstract {
    background-color: @lightgray;
    padding: 1rem;
  }
  .cta {
    border-color: @lightgray;
    border-style: solid none;
    border-width: 1px;
    padding: 1rem 0;
    a {
      align-items: center;
      background-color: @bg-base;
      border-radius: 0.5rem;
      color: contrast(@bg-base, black, white);
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem 1.5rem;
      width: max-content;
      transition: background-color 100ms;

      img {
        height: 1.7rem;
        filter: invert();
        width: auto;
      }
      &:hover {
        background-color: darken(@bg-base, 15%);
      }
    }
  }
  .keywords-wrapper {
    display: flex;
    font-size: 0.825rem;
    gap: 0.5rem;
    .label {
      font-weight: 600;
      line-height: 25.8px;
    }
    .keywords {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 0.15rem;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        background-color: #fff;
        padding: 0.125rem 0.75rem;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 24px;
      }
    }
  }
}

.article-publication-info {
  border: 1px solid @lightgray;
  & > * {
    padding: 0.5rem 1rem;
  }
  .label {
    background-color: @lightgray;
    border-bottom: 1px solid @lightgray;
    font-size: 0.825rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .section-text {
  }
}
