//
// sahadeva/styles/icons.less
//

icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  height: 18px;
  width: 18px;
  &[data-type="book"] {
    background-image: url("@{baseUrl}/plugins/themes/sahadeva/images/book.png");
  }
  &[data-type="doi"] {
    background-image: url("@{baseUrl}/plugins/themes/sahadeva/images/doi-logo.webp");
  }
  &[data-type="eye"] {
    background-image: url("@{baseUrl}/plugins/themes/sahadeva/images/eye.png");
  }
  &[data-type="link"] {
    background-image: url("@{baseUrl}/plugins/themes/sahadeva/images/link.png");
  }
  &[data-type="pdf"] {
    background-image: url("@{baseUrl}/plugins/themes/sahadeva/images/pdf.png");
  }
  &[data-type="send"] {
    background-image: url("@{baseUrl}/plugins/themes/sahadeva/images/send.png");
  }
  &[data-type="share"] {
    background-image: url("@{baseUrl}/plugins/themes/sahadeva/images/share.png");
  }
  &[data-type="stats"] {
    background-image: url("@{baseUrl}/plugins/themes/sahadeva/images/stats.png");
  }
}
